*{
	font-family: "Times New Roman", Times, serif;
    }


.head {
    font-size: 150px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.head2{
    font-size: 60px;
    text-align: center;
}

.img-fluid {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}        
.body {
    
    background-color: #cccccc;
 
}

.container{
    text-align: center;
}
.form-signin{
    border: royalblue;
}

  
  .btn:hover {
    opacity: 1;
  }

  .background-image {
    /* The image used */
     background-image: url(image/mountain.jpg);
    min-height: 1000;
    min-width: 850;
    left: auto;
    right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .cont{
    position: absolute;
    left: 20px;
    max-width: 300px;
    padding: 50px;
    background-color: #21262794;
    border-color: rgb(3, 5, 7);
    border-width: 5px;
  }

  .donow{
      text-align:center;
      text-shadow: slategray;
      
  }
  .login-background-image{
    background-image: url(image/surfing.jpg);
    min-height: 1000;
    min-width: 850;
    left: auto;
    right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }