*{
	font-family: "Times New Roman", Times, serif;
    }
*{
    box-sizing: border-box;
}

.head {
    color: #3f77c2;
    font-size: 100px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.head2{
    text-decoration-color: indigo;
    text-align: right;
    font-size: 60px;
    text-align: center;
    flex-direction: column-reverse;
}

.img-fluid {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}        
.body {
    background-color: #cccccc;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.container{
    max-width: 1000px;
    padding-left:1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
