*{
	font-family: "Times New Roman", Times, serif;
    }
*{
    box-sizing: border-box;
}

.head {
    font-size: 150px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.head2{
    font-size: 60px;
    text-align: center;
}

.img-fluid {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}        
.body {
    
    background-color: #cccccc;
 
}

.container{
    text-align: center;
}
