{% extends "base.html" %}
{% block title %}Kipwich{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


<!-- <h1> LooGIN </h1>

<form action= "/Profile" METHOD = "POST">
	<input type = "text" placeholder ="Username" name = "User">
	<input type = "text" placeholder ="Password" name = "Pass">
	<input type = "submit" value= "Sign Up" class = "btn btn-secondary">
</form> -->

<h1> Stop wasting your life, login </h1>


<form class= "form-signin" method = "POST" action = "/Login">
 {{ form.hidden_tag() }}
 {{ wtf.form_field(form.username) }}
  {{ wtf.form_field(form.password) }} 
   {{ wtf.form_field(form.remember) }} 
   <button class="btn btn-secondary" type="submit"> Sign in </button>
</form>


{% endblock %}