{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Kipwich{% endblock %}

{% block page_content %}


<div id= "genre">
Which color would you like to see?
<br>
<br>
<form name="music" method="post" action="">
<p>
<input type="button"  value="blue" onClick="changeColour('b')">
<input type="button"  value="grey" onClick="changeColour('g')">
<input type="button"  value="pink" onClick="changeColour('p')">
<input type="button"  value="white" onClick="changeColour('w')">
<br>
</form>
</div>


<h1>Current Username: {{ username }}</h1>


<h2>Change Username</h2>


<form class= "change_user" method = "POST" action = "/settings" form id="test">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.username) }}

    <button class="btn btn-secondary" type="submit" form = "test"> Update Username </button>
	</form>




<h2>Change Password</h2>


<form class= "change_pass" method = "POST" action = "/settings" form id="better">
		{{ form2.hidden_tag() }}
		{{ wtf.form_field(form2.currentpassword) }}
		{{ wtf.form_field(form2.newpassword) }}
		{{ wtf.form_field(form2.confirm) }}



{% with errors = get_flashed_messages(category_filter=["pass"]) %}
{% if errors %}
    {% for msg in errors %}

<h6>{{ msg }}</h6>
    {% endfor %}


{% endif %}
{% endwith %}




    <button class="btn btn-secondary" type="submit" form = "better"> Update Password </button>
	</form>



{% endblock %}

{% block scripts %}


    <script>
    	window.changeColour = function(value)
{

    var color = document.body.style.backgroundColor;
    switch(value)
    {
        case 'w':
            color = "white";
        break;
         case 'b':
            color = "lightblue";
        break;
        case 'g':
            color = "lightgrey";
        break;
        case 'p':
            color = "pink";
        break;
    }
    document.body.style.backgroundColor = color;
}
        $("#login").hide(); 
        $("#signup").hide(); 
    </script>
{% endblock %}