{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kipwich{% endblock %}

{% block page_content %}




<h1> If you don't do it now, you never will.  Sign up. </h1>
 

<form class="form-signin" method = "POST" action = "/SignUp">
{{ form.hidden_tag()}}
{{ wtf.form_field(form.email) }}
{{ wtf.form_field(form.username) }}
{{ wtf.form_field(form.password) }}
   <button class="btn btn-secondary" type="submit"> Sign up </button>

</form>


{% with messages = get_flashed_messages() %}
{% if messages %}
	{{ messages[0] }} 

{% endif %}
{% endwith %}


<!-- 
<form action= "/Login" METHOD = "POST">
	<input type = "text" placeholder ="Email" name = "Email">
	<input type = "text" placeholder ="Username" name = "User">
	<input type = "text" placeholder ="Password" name = "Pass">
	<input type = "submit" value= "Sign Up" class = "btn btn-secondary">
</form> -->





{% endblock %}