{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kipwich{% endblock %}

{% block page_content %}
<div class="background-image">
	<h1 class="donow"> If you don't do it now, you never will.</h1>
	<form class="cont" method = "POST" action = "/SignUp">
	<h1>Sign Up</h1>
	{{ form.hidden_tag()}}
	{{ wtf.form_field(form.email) }}
	{{ wtf.form_field(form.username) }}
	{{ wtf.form_field(form.password) }}
	<button class="btn btn-primary" type="submit"> Sign up </button>
	</form>
</div>

<!-- <div class="bg-img">
	<form action="/action_page.php" class="container">
	  <h1>Login</h1>
  
	  <label for="email"><b>Email</b></label>
	  <input type="text" placeholder="Enter Email" name="email" required>
  
	  <label for="psw"><b>Password</b></label>
	  <input type="password" placeholder="Enter Password" name="psw" required>
  
	  <button type="submit" class="btn">Login</button>
	</form>
  </div> -->

	<!-- <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
		<img class="py-5 text-center" alt="Responsive image" src="static/image/mountain.jpg" >

		
	</div> -->










{% with messages = get_flashed_messages() %}
{% if messages %}
	{{ messages[0] }} 

{% endif %}
{% endwith %}

{% endblock %}