{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}


{% block head %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<title>Chicken Tikka Masala</title>

<!-- <script src="/static/js/jquery.js"></script> 
<script src="/static/js/scripts.js"></script> -->
{% endblock %}

{% block page_content %}


	<h2>Chicken Tikka Masala</h2>
	<h4>6 servings </h4>

	
		
	<h5>{{ wtf.quick_form(form) }} </h5>



{% endblock %}
